@import url("https://use.typekit.net/dlh8awo.css");

//Font Families
$--font-family-primary:   'lato';
$--font-family-secondary: 'open-sans';


//Font Weights
$--font-weight-light:      300;
$--font-weight-regular:    400;
$--font-weight-medium:     500;
$--font-weight-semibold:   600;
$--font-weight-bold:       700;
$--font-weight-heavy:      800;
$--font-weight-extra-bold: 900;


//Colors
